.filterDropdown {
  position: absolute;
  background-color: white;
  width: 100%;
  padding: 40px 30px 20px 30px;

  border: 0.5px solid #8338EC;
  border-radius: 10px;
  top: 70px;
  z-index: 9999;
 }

.filterCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 23.5px;
  margin-bottom: 25px;
}

.filter {
  display: flex;
  align-items: center;
  gap: 15px;
}

.filterDropdown button {
  background-color: #8338EC;
  color: white;
  font-size: 16px;
  padding: 8px 49.5px;
  border-radius: 20px;
  border: none;
}



