
.taskPage h1 {
  margin-top: 40px;
  font-size: 34px;
  color: #212529;
  font-weight: 600;
}

.selectedFilters {
  margin-top: 25px;
  display: flex;
  gap: 20px;
  width: 100%;
  min-height: 35px;
  overflow-x: scroll;
  scrollbar-width: thin;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.selectedFilter {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  padding: 6px 10px;
  color: #343a40;

  border: 1px solid #ced4da;
  border-radius: 43px;
  cursor: pointer;
  flex: 0 0 auto;
}

.clearAllBtn {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  padding: 6px 10px;
  color: #343a40;
  cursor: pointer;
}

.statuses {
  display: flex;
  justify-content: space-between;
}

.status {
  margin-top: 24px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  width: 381px;
  padding: 15px 0;
  border-radius: 10px;
  color: white;
}

.tasks {
  display: flex;
  justify-content: space-between;
}

.taskColumn {
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 381px;
}
